name: ASDF CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  plugin-test:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
        # Compatibility matrix from https://pnpm.io/installation#compatibility
        version:
          - 4
          - 5
          - 6
          - 7
        node:
          - 10
          - 12
          - 14
          - 16
          - 18
        exclude:
          # pnpm >= v7 does not support node 12
          - node: 12
            version: 7
          # pnpm >= v6 does not support node 10
          - node: 10
            version: 7
          - node: 10
            version: 6
    name: plugin-test (pnpm v${{ matrix.version }}, Node.js v${{ matrix.node }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    steps:
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - name: Test pnpm
        uses: asdf-vm/actions/plugin-test@v1
        with:
          command: pnpm --version
          version: latest:${{ matrix.version }}
      - name: Test pnpx
        if: matrix.version < 7
        uses: asdf-vm/actions/plugin-test@v1
        with:
          command: pnpx --version
          version: latest:${{ matrix.version }}
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Run ShellCheck
        run: shellcheck bin/*
  format:
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install shfmt
        run: brew install shfmt
      - name: Run shfmt
        run: shfmt -d -i 2 -ci .
