name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  asdf-plugin-test:
    strategy:
      matrix:
        runner:
          - ubuntu-latest
          - macos-latest
          - ubuntu-24.04-arm
          - macos-15-intel
        # Compatibility matrix from https://pnpm.io/installation#compatibility
        pnpm:
          - 8
          - 9
          - 10
        node:
          - 20
          - 22
          - 24
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: ${{ matrix.node }}
      - name: Test pnpm
        uses: asdf-vm/actions/plugin-test@b7bcd026f18772e44fe1026d729e1611cc435d47 # v4.0.1
        with:
          command: pnpm --version
          version: latest:${{ matrix.pnpm }}
  nix:
    strategy:
      matrix:
        include:
          - runner: ubuntu-latest
            system: x86_64-linux
          - runner: macos-latest
            system: aarch64-darwin
          - runner: ubuntu-24.04-arm
            system: aarch64-linux
          - runner: macos-15-intel
            system: x86_64-darwin
    runs-on: ${{ matrix.runner }}
    name: nix flake check (${{ matrix.system }})
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21
      - uses: DeterminateSystems/magic-nix-cache-action@565684385bcd71bad329742eefe8d12f2e765b39 # v13
      - run: nix flake check --print-build-logs
