name: Nix

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  check:
    strategy:
      matrix:
        os:
          - ubuntu-latest  # x86_64-linux
          - macos-latest  # aarch64-darwin
          - ubuntu-24.04-arm  # aarch64-linux
          - macos-15-intel  # x86_64-darwin
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - run: nix flake check --print-build-logs
